<form class="form-search" name="my_form" method="post" action="/setname">
  <fieldset>
    <legend>Welcome to Blackjack Game</legend>
    <div class="help-block">What is your name?</div>
    <input type="text" name="username" placeholder="Player">
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

