<div class="well text-center">
  <form class="form-search" name="my_form" method="post" action="/setname">
    <fieldset>
      <legend>Welcome!</legend>
      <p class="lead">What is your name?</p>
      <input type="text" name="username" placeholder="Player">
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
</div>